@import '~@storefront-ui/vue/styles';

:root {
  --border-radius: 0.625rem; // 10px

  /** colors **/
  @include generate-color-variants(--_c-green-primary, #18a353);

  // Green
  @include assign-color-variants(--c-primary, --_c-green-primary);
  --c-light-variant: #F4F4F4;
  .color-light-variant {
    background: var(--c-light-variant);
    color: black;
  }
  --c-grey-text: #444444;
  --c-grey-text-light: rgb(170, 170, 170);;

  /* Custome SfButton */
  --button-border-radius: 0.7rem;
  --button-text-transform: none;

  --breadcrumbs-list-item-seperator: ">";

  --add-cart-step-text-color: #c1c1c1;

  body {
    --overlay-z-index: 2;
  }
}
